@import "../../../styles/variables";

.meta-footer {
	width: 100%;
	text-align: center;

	margin-top: auto;
	margin-bottom: 10px;
}

.header {
	margin-bottom: 2rem;
	text-align: center;

	.header-link {
		display: flex;
		justify-content: center;
		gap: 0.5rem;
		align-items: center;

		.header-link-btn {
			gap: 0.3rem;
			display: inline-flex;
			align-items: center;

			font-weight: bold;
			font-size: 1.2rem;

			background-color: $accent-color-darker;
			color: $fg-color;
			padding: 0.35rem 0.5rem;
			border-radius: 5px;

			border: none;

			&:hover {
				background-color: $accent-color-darkerer;
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}
}

.select-wrapper {
	position: relative;

	.select {
		appearance: none;
		min-width: 150px;
		margin-right: 30px;
	}

	&::after {
		content: "▼";
		line-height: 100%;
		position: absolute;
		top: calc(50%);
		right: 15px;
		transform: translateY(calc(-100%));
	}

	&:has(select:focus)::after {
		content: "▲";
	}
}

.number-input {
	display: flex;
	gap: 0.3rem;

	input {
		width: 100%;
		appearance: textfield;
		-webkit-appearance: textfield;
		-moz-appearance: textfield;
	}

	.number-input-controls {
		display: flex;
		flex-direction: column;

		.btn {
			display: flex;
			align-items: center;
			flex-grow: 1;
			gap: 0;

			padding: 0 0.4rem;
			margin: 0;

			border: 0;
			outline: none;

			background-color: $surface-2;
			color: $fg-color;

			&:hover {
				background-color: $surface-3;
				cursor: pointer;
			}

			&:nth-child(1) {
				border-radius: 3px 3px 0 0;
				border-bottom: 1px solid rgba($fg-color-darker, 0.3);
			}

			&:nth-child(2) {
				border-radius: 0 0 3px 3px;
			}
		}
	}
}