@import "../../../styles/variables";

.meta-footer {
	width: 100%;
	text-align: center;

	margin-top: auto;
	margin-bottom: 10px;
}

.header {
	margin-bottom: 2rem;
	text-align: center;

	.header-link {
		display: flex;
		justify-content: center;
		gap: 0.5rem;
		align-items: center;

		.header-link-btn {
			gap: 0.3rem;
			display: inline-flex;
			align-items: center;

			font-weight: bold;
			font-size: 1.2rem;

			background-color: $accent-color-darker;
			color: $fg-color;
			padding: 0.35rem 0.5rem;
			border-radius: 5px;

			border: none;

			&:hover {
				background-color: $accent-color-darkerer;
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}
}