@import "../../../styles/variables";

.modal-overlay {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2px);

	.modal {
		padding: 1.5rem;
		border-radius: 0.5rem;
		max-width: 35rem;
		background-color: $surface-1;

		.pdf-link {
			gap: 0.1rem;
			display: flex;
			align-items: center;
		}

		h2 {
			text-align: center;
		}

		label {
			font-size: 1rem;
			font-weight: bold;
		}

		input,
		select {
			border: none;
			margin-bottom: 0;
			background-color: $surface-2;
		}

		.two-columns {
			display: flex;
			gap: 2rem;

			.form-group {
				width: 50%;
			}
		}

		.control-group {
			display: flex;
			gap: 1rem;
			justify-content: flex-end;

			button {
				font-size: 1rem;
				outline: none;
				border: none;
				box-shadow: none;
				color: white;
				padding: 0.5rem 1.5rem;
				border-radius: 1rem;

				&.cancel-btn {
					background-color: $rejected-color;

					&:hover {
						background-color: $rejected-color-darker;
					}
				}

				&.save-btn {
					background-color: $accent-color;

					&:hover {
						background-color: $accent-color-darker;
					}

					&.disabled {
						background-color: $bg-disabled;
					}
				}
			}
		}

		.approve-btn {
			border-radius: 5px;
			outline: none;
			border: none;

			padding: 0.3rem 0.8rem;
			font-size: 1.05rem;

			display: flex;
			gap: 0.3rem;
			align-items: center;

			&.approved {
				background-color: $approved-color;
				color: $fg-inverse;

				&:hover {
					background-color: $approved-color-darker;
					color: $fg-inverse-darker;
				}
			}

			&.unapproved {
				background-color: $rejected-color;
				color: $fg-color;

				&:hover {
					background-color: $rejected-color-darker;
				}
			}
		}
	}

	.error-msg {
		padding-left: 0;
	}
}