@import "../../../styles/variables";

.modal-overlay {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2px);

	.modal {
		padding: 1.5rem;
		border-radius: 0.5rem;
		max-width: 35rem;
		background-color: $surface-1;

		.pdf-link {
			gap: 0.1rem;
			display: flex;
			align-items: center;
		}

		.close-btn {
			padding: 4px;
			display: flex;
			align-items: center;
			justify-content: center;

			border-radius: 50%;
			border: none;
			outline: none;

			position: absolute;

			color: $fg-color;
			background-color: $surface-2;
			outline: 1px solid rgba($surface-3, 0.8);

			&:hover {
				background-color: $surface-3;
			}
		}

		.approve-status {
			display: flex;
			gap: 0.5rem;

			button {
				padding: 6px 0.6rem;
				border: none;
				border-radius: 5px;
				color: $fg-color;
				background-color: $bg-disabled;
				font-size: 1rem;

				&:hover, &:disabled {
					&.approve-btn {
						background-color: $approved-color;
						color: $fg-inverse;
					}
					&.unapprove-btn {
						background-color: $rejected-color;
					}
				}

				&:hover:not(:disabled) {
					cursor: pointer;
				}
			}
		}

		h2 {
			text-align: center;
			margin-top: 0;
		}

		label {
			font-size: 1rem;
			font-weight: bold;
		}

		input,
		select {
			border: none;
			margin-bottom: 0;
			background-color: $surface-2;
		}

		.two-columns {
			display: flex;
			gap: 2rem;

			.form-group {
				width: 50%;
			}
		}

		.control-group {
			display: flex;
			gap: 1rem;
			justify-content: flex-end;

			button {
				font-size: 1rem;
				outline: none;
				border: none;
				box-shadow: none;
				color: white;
				padding: 0.5rem 1rem;
				border-radius: 1rem;

				display: flex;
				gap: 5px;
				align-items: center;

				&.cancel-btn {
					background-color: $rejected-color;

					&:hover {
						background-color: $rejected-color-darker;
					}
				}

				&.save-btn {
					background-color: $approved-color;

					&:hover {
						background-color: $approved-color-darker;
					}
				}

				&.next-btn, &.prev-btn {
					background-color: $accent-color;

					&:hover {
						background-color: $accent-color-darker;
					}
				}

				&.prev-btn {
					margin-right: auto;
				}

				&:disabled {
					background-color: $bg-disabled !important;
				}
			}
		}

		&.qp-preview {
			width: 50%;
			height: 80%;

			embed {
				width: 100%;
				height: 90%;
			}
		}
	}

	.error-msg {
		padding-left: 0;
	}
}