* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;

  /* Prevent text size inflation */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

body {
  margin: 0;
  padding: 1rem;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}

h1,
h2,
h3 {
  line-height: 1.2;
}
