$accent-color: hsl(217, 80%, 40%);
$accent-color-lighter: hsl(217, 80%, 60%);
$accent-color-darker: hsl(217, 80%, 30%);
$accent-color-darkerer: hsl(217, 80%, 25%);
$accent-color-disabled: hsl(217, 40%, 35%);

$accent-complementary: hsl(37, 80%, 40%);
$accent-complementary-lighter: hsl(37, 80%, 60%);
$accent-complementary-darker: hsl(37, 80%, 30%);
$accent-complementary-disabled: hsl(37, 40%, 30%);

$approved-color: hsl(149, 80%, 30%);
$approved-color-darker: hsl(149, 80%, 25%);
$approved-color-darkerer: hsl(149, 80%, 20%);

$rejected-color: hsl(349, 70%, 45%);
$rejected-color-darker: hsl(349, 70%, 40%);

$bg-color: hsl(0, 0%, 5%);
$surface-1: hsl(0, 0%, 10%);
$surface-2: hsl(0, 0%, 15%);
$surface-3: hsl(0, 0%, 20%);
$bg-disabled: hsl(0, 0%, 24%);

$fg-color: hsl(0, 0%, 85%);
$fg-color-darker: hsl(0, 0%, 75%);
$fg-color-disabled: hsl(0, 0%, 60%);
$fg-inverse: hsl(0, 0%, 10%);
$fg-inverse-darker: hsl(0, 0%, 5%);
