$approved-button: #0cce6b;
$rejected-button: #c41e3cf8;

.admin-page {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;

    .select {
        .solid-select-option {
            background-color: $bg-color;

            &:hover {
                color: $accent-complementary;
            }

            &[data-focused=true] {
                color: $fg-color;
                background-color: $accent-color-darker;
            }
        }

        .solid-select-list {
            background-color: black;
            color: white;
        }
    }

    .qp-table {
        table-layout: auto;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;

        caption {
            padding-bottom: 10px;
            font-weight: light;
        }

        thead {
            background-color: $surface-1;
        }

        td {
            :nth-child(1){
                text-align: left;
            };
            text-align: center;
            border-color: #c8c8c8;
            border-collapse: collapse;
            border-bottom: 1px solid;
        }
    }

    .approve-button {
        color: $approved-button;
    }

    .reject-button {
        color: $rejected-button;
    }

    .title {
        overflow: hidden;
        A {
            float: left;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        A:hover {
            text-decoration: underline;
        }
        A.admin {
            background-color: $accent-color-darker;
            color: $fg-color;
        }
        span.user {
            float: right;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
    }
}

