@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Light mode. This is only for archival purposes. It should NEVER BE USED.
// :root {
//   --accent-color: hsl(217, 80%, 40%);
//   --accent-color-darker: hsl(217, 80%, 30%);
//   --bg-color: #e8e5e5;
//   --surface-1: #fff;
//   --fg-color: #333;
//   --fg-inverse: #fff;
// }

$accent-color: hsl(217, 80%, 40%);
$accent-color-lighter: hsl(217, 80%, 60%);
$accent-color-darker: hsl(217, 80%, 30%);
$accent-color-disabled: hsl(217, 40%, 40%);
$bg-color: #0d0d0d;
$surface-1: #413e3f;
$surface-2: #4b4b4b;
$fg-color: #f7f7f7;
$fg-inverse: #3d3d3d;

body {
  color: rgba($fg-color, 0.8);
  background-color: $bg-color;
  font-family: "Hanken Grotesk", sans-serif;

  &::-webkit-scrollbar-track {
    background-color: rgba($bg-color, 0.5);
    border-radius: 100px;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: rgba($bg-color, 0.5);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($fg-color, 0.4);
    border-radius: 100px;
  }

  scrollbar-gutter: stable;
}

a {
  color: $accent-color-lighter;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}

.icon-btn {
  display: flex;
  gap: 8px;
  align-items: center;
}

.search-form {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 0.5rem;
    color: rgba($fg-color, 0.7);
    font-size: 0.9rem;
  }

  input,
  select {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 1rem;
    outline: none;
    border: 2px solid rgba($fg-color, 0.5);
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1rem;

    background-color: rgba($surface-1, 0.2);
    color: rgba($fg-color, 0.8);

    &:focus {
      border-color: rgba($fg-color, 0.8);
    }
  }

  select option {
    background-color: $bg-color;
    color: rgba($fg-color, 0.8);
  }

  button {
    background-color: rgba($accent-color, 0.8);
    color: rgba($fg-color, 0.75);
    padding: 10px 15px;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: $accent-color-darker;
    }

    &:disabled {
      background-color: $accent-color-disabled;

      &:hover {
        cursor: default;
      }
    }
  }
}

.results-filter {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;

  margin: 1rem 0 0.2rem 0.5rem;
  align-items: center;

  select {
    width: fit-content;
    margin-bottom: 0;

    @media (max-width: 560px)  {
      width: 100%;
    }
  }
}

.search-results {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: rgba($surface-1, 0.2);

  .search-results-table {
    width: 100%;
    margin-top: 1rem;

    // .download-btn-container {
    //   justify-content: center;
    //   display: flex;
    //   align-items: center;
    //   gap: 10px;
    //   flex-wrap: wrap;
    // }

    // .download-btn {
    //   align-self: center;
    //   margin-top: auto;
    //   margin-bottom: auto;

    //   padding: 3px 5px;
    //   border-radius: 5px;
    //   background-color: rgba($accent-color, 0.8);
    //   color: $fg-color;
    // }

    tr {
      width: fit-content;
    }

    th,
    td {
      padding: 0.5rem 1rem 0.5rem 1rem;
    }

    th {
      text-align: left;
    }
  }

  .result-card {
    padding: 15px;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    h3 {
      margin-top: 0;
    }

    p {
      margin: 5px 0;

      &.course-name,
      &.course-code {
        font-weight: bold;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  margin: 1rem 0;
  width: 2rem;
  height: 2rem;

  fill: rgba($accent-color, 0.8);
  color: rgba($fg-color, 0.8);
  animation: spin 1s infinite;
}
