@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./variables.scss";
@import "./reset.scss";
@import "./search_form.scss";
@import "./search_results.scss";
@import "./upload_page.scss";
@import "./modal.scss";

.toast {
  background-color: $surface-1 !important;
  color: $fg-color !important;
  fill: $fg-color !important;

  border-radius: 10px !important;
}

body {
  display: flex;
  color: rgba($fg-color, 0.8);
  background-color: $bg-color;
  font-family: "Hanken Grotesk", sans-serif;

  &::-webkit-scrollbar-track {
    background-color: rgba($bg-color, 0.5);
    border-radius: 100px;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: rgba($bg-color, 0.5);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($fg-color, 0.4);
    border-radius: 100px;
  }

  scrollbar-gutter: stable;

  #root {
    display: flex;
    flex-direction: column;
    width: 100%;

    .meta-footer {
      width: 100%;
      text-align: center;

      margin-top: auto;
      margin-bottom: 10px;
    }
  }
}

a {
  color: $accent-color-lighter;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}

.icon-btn {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header-upload-encourager, .header-search-encourager {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;

  .header-upload-sender, .header-search-sender {
    gap: 0.3rem;
    display: inline-flex;
    align-items: center;

    background-color: rgba($accent-color, 0.8);
    color: $fg-color;
    padding: 0.35rem 0.5rem;
    border-radius: 5px;
  }
}

input,
select {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 1rem;
  outline: none;
  border: 2px solid rgba($fg-color, 0.5);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1rem;

  background-color: rgba($surface-1, 0.2);
  color: rgba($fg-color, 0.8);

  &:focus {
    border-color: rgba($fg-color, 0.8);
  }
}

select option {
  background-color: $bg-color;
  color: rgba($fg-color, 0.8);
}

.select-wrapper {
  position: relative;

  select {
    appearance: none;
  }

  &::after {
    content: "▼";
    line-height: 100%;
    position: absolute;
    top: calc(50%);
    right: 15px;
    transform: translateY(calc(-100%));
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  margin: none;
  width: 2rem;
  height: 2rem;

  fill: rgba($accent-color, 0.8);
  color: rgba($fg-color, 0.8);
  animation: spin 1s infinite;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
