$accent-color: hsl(217, 80%, 40%);
$accent-color-lighter: hsl(217, 80%, 60%);
$accent-color-darker: hsl(217, 80%, 30%);
$accent-color-disabled: hsl(217, 40%, 40%);

$accent-complementary: hsl(37, 80%, 40%);
$accent-complementary-lighter: hsl(37, 80%, 60%);
$accent-complementary-darker: hsl(37, 80%, 30%);
$accent-complementary-disabled: hsl(37, 40%, 30%);

$bg-color: #0d0d0d;
$surface-1: #413e3f;
$surface-2: #4b4b4b;
$fg-color: #f7f7f7;
$fg-inverse: #3d3d3d;