@import "../../../styles/variables";

.file-card {
	display: flex;

	.file-card-icon {
		margin-right: 0.5rem;
	}

	.file-data {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		overflow: hidden;

		.course-name,
		.file-name {
			flex-shrink: 1;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			text-align: left;
		}

		.file-name {
			margin: 0;
			margin-bottom: 0.25rem;
			font-size: 1.1rem;
			font-weight: bold;
		}

		.course-name {
			font-size: 1rem;
		}

		.error-msg {
			padding-left: 0;
		}

		.processing-msg {
			display: flex;
			align-items: center;
			gap: 0.2rem;
			margin-top: 0;

			color: $accent-color-lighter;

			.spinner {
				height: 20px;
			}
		}
	}

	.btn-group {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		justify-content: center;
	}

	.btn {
		padding: 0.5rem;
		border-radius: 10px;
		border: none;
		background: none;
		box-shadow: none;
		height: fit-content;

		&:hover {
			cursor: pointer;
			background-color: $surface-1;
		}

		&:active {
			background-color: $surface-2;
		}

		&.close-btn {
			color: $rejected-color;
		}

		&.edit-btn {
			color: $fg-color-darker;
		}

		&:disabled {
			color: $fg-color-disabled;

			&:hover {
				background-color: initial;
				cursor: initial;
			}
		}
	}

	.pills {
		margin-top: 0.2rem;
		display: flex;
		gap: 0.5rem;

		.pill {
			padding: 0.25rem 0.5rem;
			border-radius: 10px;
			font-size: 0.8rem;
			font-weight: bold;
			color: white;
			background-color: $accent-color-darker;
		}
	}
}