@import "../../../styles/variables";

.upload-form {
	max-width: 40rem;
	width: 100%;
	height: 100%;

	.upload-form-btns {
		display: flex;
		gap: 1rem;

		button {
			background-color: rgba($accent-color-darker, 0.5);
			color: $fg-color;

			font-size: 1.1rem;
			font-weight: bold;

			margin-top: 1rem;
			padding: 0.25rem 1rem;

			border-radius: 1rem;
			border: 2px solid $accent-color-darker;

			display: flex;
			align-items: center;
			gap: 0.5rem;

			.spinner {
				width: 1rem;
				height: 1rem;
			}

			&:hover {
				color: $fg-color;
				background-color: $accent-color-darker;
				cursor: pointer;
				transition: all 0.2s ease;
			}
		}

		.upload-btn {
			border-color: $approved-color-darker;
			background-color: rgba($approved-color-darker, 0.4);

			&:hover {
				background-color: $approved-color-darker;
			}
		}
	}

	.uploaded-files {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
	border: 2px dashed $surface-2;
	border-radius: 5px;
	height: 100%;
	width: 100%;
	max-width: 40rem;

	.message {
		font-size: 1.2rem;
	}
}