@import "../../../styles/variables";

.upload-area {
	border-radius: 1rem;
	border: 4px dashed $surface-2;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 8rem 2rem;

	&:hover {
		cursor: pointer;
	}

	&.active {
		border: 4px solid $surface-1;
		background-color: $surface-1;
	}

	input,
	h2,
	.upload-icon {
		pointer-events: none;
	}

	h2 {
		text-align: center;
		width: 100%;
	}

	@media screen and (max-width: 1000px) {
		padding: 2rem;
	}
}