@import "../../styles/variables";

#admin-dashboard {
	display: flex;
	flex-direction: column;
	justify-items: center;

	.dashboard-container {
		display: flex;
		gap: 2rem;
		justify-content: space-around;

		.papers-panel {
			width: 80%;
			display: flex;
			flex-direction: column;
			gap: 0.2rem;

			.qp-card:nth-child(odd) {
				background-color: $surface-1;
			}

			.qp-card.approved {
				background-color: rgba($approved-color-darker, 0.16);
			}
		}
	}
}