@use "sass:color";

.admin-page {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;

    .select {
        padding: 0.15rem 0.2rem;
        margin: 0;
        border-width: 1px;
        border-color: rgba($fg-color, 0.23);

        .solid-select-option {
            &:hover {
                background-color: $surface-2;
            }

            &[data-focused=true] {
                color: $accent-complementary-lighter;
                background-color: $surface-1;
            }
        }

        .solid-select-list {
            background-color: $surface-1;
            border-radius: 10px;
        }

        &[data-disabled="true"] {
            border: none;
            background-color: transparent;
            padding: 0;

            .solid-select-control {
                padding: 0;
                background-color: transparent !important;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    .qp-table {
        background-color: rgba($surface-1, 0.2);
        border-radius: 10px;

        table-layout: auto;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;

        caption {
            padding-bottom: 10px;
            font-weight: light;
        }

        th {
            padding: 0.5rem;
            text-align: left;
            border-bottom: 1px solid rgba($fg-color, 0.2);

            &:nth-child(1) {
                border-radius: 5px 0 0 5px;
            }

            &:nth-last-child(1) {
                border-radius: 0 5px 5px 0;
            }
        }

        td {
            :nth-child(1) {
                text-align: left;
            }

            text-align: center;
            padding: 0.5rem;
        }

        tr {
            border: 1px solid transparent;
            border-radius: 8px;
        }
    }

    .approve-button, .reject-button {
        background-color: inherit;
        border: none;
        padding: 0.2rem 0.5rem 0.2rem 0.35rem;
        border-radius: 5px;

        display: flex;
        align-items: center;
        gap: 5px;

        &:hover {
            cursor: pointer;
        }
    }

    .approve-button {
        background-color: $approved-color;
        color: black;

        &:hover {
            background-color: $approved-color-darker;
        }
    }

    .reject-button {
        color: $fg-color;
        background-color: $rejected-color;

        &:hover {
            background-color: $rejected-color-darker;
        }
    }

    .pdf-link {
        display: flex;
        gap: 5px;
        align-items: center;

        background-color: $accent-color;
        color: $fg-color;
        padding: 0.2rem 0.5rem;
        border-radius: 5px;
    }

    .title {
        overflow: hidden;
        A {
            float: left;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        A:hover {
            text-decoration: underline;
        }
        A.admin {
            background-color: $accent-color-darker;
            color: $fg-color;
        }
        span.user {
            float: right;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
    }
}

